/******************************TAG SELECTOR***********************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #00ADB5;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #00ADB5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #00ADB5;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #00ADB5;
}

/******************************CLASS SELECTOR*********************************/
.top-container {
  background-color: #EEEEEE;
  position: relative;
  padding: 100px;
}

.middle-container {}

.bottom-container {}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 330px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 330px;
  top: 330px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.psyhology-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

/* .gaming-img {
  width: 30%;
  float: right;
  margin-left: 30px;
} */

/******************************ID SELECTOR*********************************/
